table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.parent {
    width: 80%;
    margin: 0 auto;
    border: 0px solid red; /*for debugging purposes, change to 1px solid red */
}

.labelcolumn {
  float: left;
  width: 16%;
  border: 0px solid lightgreen; /*for debugging purposes, change to 1px solid lightgreen */
}

.pagecolumn {
  float: left;
  width: 42%;
  border: 0px solid blue; /*for debugging purposes, change to 1px solid blue */
}

.labeltable {
  width: 90%;
}

.livetable {
  width: 90%;
}

.overalltable {
  width: 90%;
}

div.title {
  text-align: center;
  font-size: 200%;
  font-weight: 600;
  text-shadow: 2px 2px 0px #000;
  color: #FFFFFF;
  text-decoration: underline;
}

div.tableTitle {
  text-align: center;
  font-size: 125%;
  text-decoration: underline;
  text-shadow: 2px 2px 0px #000;
  color: #FFFFFF;
}

div.tableSmallTitle {
  text-align: center;
  font-size: 110%;
  text-shadow: 2px 2px 0px #000;
  color: #FFFFFF;
}

th.lcol,
td.lcol {
  font-weight: bold;
  text-align: center;
  padding: 2px;
  width: 80px;
}

th.othercol,
td.othercol {
  text-align: center;
  padding: 2px;
  width: 10%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 100px;
}

body {
  margin: 0; }

/* Reset
  =============== */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/* Scaffolding
  =============== */

html {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2rem; }

body {
  color: #404040;
  background-image: radial-gradient(circle, #2471A3, #1F618D, #1A5276, #154360);
  font-size: 1rem; }

thead th {
  border-bottom: 2px solid #dedede; }

tfoot th {
  border-top: 2px solid #dedede; }

td {
  border-bottom: 2px solid #dedede; }

th,
td {
  text-align: left;
  padding: 0rem;
  border: 1px solid rgb(190, 190, 190); }

/* Container classes (for later potential use)
  =============== */
/*
.full-container {
  max-width: 100%;
  padding: 0 1rem; }

.container, .small-container, .medium-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto; }

.small-container {
  max-width: 800px; }

.medium-container {
  max-width: 1000px; }

.content-section {
  padding: 30px 0; }
*/
